.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  font-weight: 800;
}

.menuContainer {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.searchLocationBar {
  height: 1rem;
  width: 20em;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .searchLocationBar {
    display: none;
  }

  .header {
    display: block;
    text-align: center;
  }
}
